* {
  padding: 0;
  margin: 0;
  font-family: 'Zen Dots', sans-serif;
}
html {
  height: 100%;
  width: 100%;
}
body {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  overflow: hidden;
  background-color: rgb(41, 41, 41);
}
/* starting screen */
.starting-screen {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  transition: opacity 2s;
  display: none;
}
.starting-screen h1,
.starting-screen h2 {
  color: white;
}
.starting-screen h1 {
  font-size: 4rem;
  padding-top: 10%;
  padding-bottom: 5%;
}
.starting-screen h2 {
  font-size: 2.5rem;
  padding-bottom: 10%;
}
.player-count {
  padding-bottom: 10%;
}
.player-count-buttons {
  display: flex;
  justify-content: space-around;
}
.player-count-buttons button {
  font-size: 2rem;
  padding: 2%;
  border-radius: 5px;
}

/* Transition Screen */
.transition-screen {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  transition: opacity 1s;
  pointer-events: none;
  cursor: pointer;
  opacity: 0%;
  z-index: 5000000;
}
.clickable {
  cursor: pointer;
}
.transition-screen h2 {
  color: white;
  font-size: 3rem;
  padding: 10%;
}
/* Placement Screen */
.placement-screen {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* pointer-events: none;
  opacity: 0%; */
  display: none;
  transition: opacity 2s;
}
/* Harbor section */
.harbor {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 15px;
  grid-template-rows: 80px repeat(3, 180px) 150px;
  grid-template-columns: 1fr 1fr;
  width: 800px;
}
.harbor h1 {
  color: white;
  text-align: center;
  grid-column: 1 / 3;
  white-space: pre-line;
}
.ship-container {
  display: flex;
  justify-content: end;
  align-items: end;
  margin: 5px 0;
}
.ship-container label,
.ship-container button,
.ship-container input {
  margin-bottom: 5px;
}
label {
  color: white;
  margin: 0 3px;
}
input {
  /* eslint-disable-next-line */
  font-family: inherit;
  width: 40px;
  margin: 0 5px;
}
.orient {
  width: 50px;
}
.go {
  width: 150px;
  height: 50px;
  align-self: center;
  margin: 50px;
  font-size: 1.5rem;
  grid-column: 1 / 3;
  cursor: pointer;
}
.go:disabled {
  cursor: default;
}

/* Ship img section */
.flipped {
  rotate: -90deg;
}
.placed {
  filter: brightness(0);
}
.ship-container button {
  margin-left: 10px;
}
.main-ship {
  max-height: 75px;
  margin-right: 10px;
  cursor: pointer;
}
.carrier {
  width: 185px;
}
.battle {
  width: 150px;
}
.destroy,
.sub {
  width: 125px;
}
.patrol {
  width: 75px;
}

.mini-ship {
  width: 70px;
  opacity: 50%;
  position: absolute;
  top: 5000px;
}

/* Board section */

.board-carrier {
  width: 375px;
  max-height: 70px;
}
.board-battle {
  width: 300px;
  max-height: 70px;
}
.board-destroy,
.board-sub {
  width: 200px;
  max-height: 65px;
}
.board-patrol {
  width: 140px;
  max-height: 70px;
}

.blank {
  grid-column: 1;
  grid-row: 1;
}
.board-container {
  display: grid;
  grid-template-rows: repeat(11, 75px);
  grid-template-columns: repeat(11, 75px);
}
.square-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
p {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.board {
  grid-row: 2 / -1;
  grid-column: 2 /-1;

  background-image: url('./assets/ocean-background.png');
  background-size: cover;
  width: 750px;
  height: 750px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  position: relative;
}

.big-ship {
  position: absolute;
  top: -50000px;
}
.currently-dragging {
  pointer-events: none;
}

.square {
  border: 1px solid rgba(0, 0, 0, 0.233);
  transition: all 0.2s;
}
.square:hover,
.is-hovered {
  background-color: rgba(255, 255, 255, 0.212);
  border: 1px solid rgb(0, 0, 0);
}
.placed-square {
  background-color: green;
}
.is-invalid {
  background-color: rgba(196, 9, 9, 0.212);
  border: 1px solid rgb(0, 0, 0);
}
.is-invalid:hover {
  background-color: rgba(196, 44, 44, 0.212);
}

/* Game board section */

.player-screen {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.board-text {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin: 15px;
}
.board-text h1 {
  color: white;
  font-size: 2.5rem;
}

.inactive-board .square:hover {
  background-color: rgba(255, 255, 255, 0.055);
  border: 1px solid rgb(0, 0, 0);
  cursor: default;
}
.active-board {
  cursor: pointer;
}
.banner {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.644);
  height: 150px;
  top: 10%;
  pointer-events: none;
  opacity: 0%;
  transition: opacity 1s;
  z-index: 50000;
}
.banner h1 {
  color: white;
  font-size: 3rem;
}
.square-missed {
  background-color: rgba(6, 8, 41, 0.705);
}
.square-hit {
  background-color: rgba(102, 5, 5, 0.616);
}

.marker {
  max-height: 55px;
  max-width: 55px;
  position: absolute;
  pointer-events: none;
}
.hit-marker {
  left: 18px;
  top: 10px;
}
.miss-marker {
  left: 15px;
  top: 10px;
}
.hidden {
  display: none;
}
.player-board .big-ship {
  pointer-events: none;
}

.turn-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
}
.turn-timer h1 {
  color: white;
  font-size: 2rem;
}
.turn-timer .arrow {
  font-size: 5rem;
  margin-bottom: 200px;
}

.no-interaction {
  pointer-events: none;
}
